Body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  flex: 30%;
  background-color:cadetblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 6px 15px;
  font-size: 17px;
  border:1px solid blue;
  outline: none;
  margin-bottom: 15px;
}

.header button {
  width: 80px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10%;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  background-color: green;
}

.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 700px;
  height: 50px;
  display: flex;
  color: black;
  margin-bottom: 7px;
}

.task .content {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.content_item {
  width: 80%;
  height: 20px;
  padding: 15px;
  margin-right: 10px;
  font-size:18px;
  background-color: cadetblue;
  text-align: center;
  border-radius: 4px;
}

.task button {
  width: 50px;
  height: 100%;
  background-color: rgb(247, 78, 36);
  color: aliceblue;
  cursor: pointer;
  border:none;
  border-radius: 40%;
}